body {
  background-color: #1d4d46;
  color: rgb(55, 218, 55);
  -webkit-user-select:none;-moz-user-select:-moz-none;
  -ms-user-select:none;user-select:none
}

.App {
  max-width: 80%;
  margin: 10rem auto;
}
